@import './variables';
@import './reset';
@import './document';


// app root
.app-wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-height: var(--height, 100vh);
}

// player container
.player-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  width: 100%;
  height: var(--height, 100vh);
  min-width: 320px;

}

.player-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
  position: relative;
  z-index: 3;

  .header,
  .content,
  .current-track {
    position: relative;
  }

  .content {
    flex: 1;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;

    &>section {
      margin: auto 0; // prevent vertical aligned flex item from overflowing
    }

  }

}

// prevent text selection on icons
.material-icons {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



// ===== Styles ==== //

body {
  background: $black;
  font-family: 'Roboto', sans-serif;

  a {
    color: $grey;
    text-decoration: none;

    &:hover {
      color: $sand;
    }

    &:visited {
      color: $sand;
    }

    &:hover .material-icons {
      color: $white;
    }

  }

}

.material-icons {
  color: $sand;
}

.queue_mode {
  color: $green;
}

.hide {
  display: none;
}

.tracks .track:hover .hide {
  display: block;
}

.tracks .track:hover .show {
  display: none;
}

.track__selected {
  color: $transparent;
}

.header {

  & {
    background: $light-black;
    padding: $padding-sm;
    color: $grey;
    border-bottom: 1px solid $black;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: static;
  }

  .search {

    margin-left: 10px;

    input {

      height: $padding-lg;
      border-radius: $border-radius;
      border: none;
      background: $white;
      color: $black;
      padding-left: $padding-lg;
      padding-right: $padding-lg;
      outline: none;
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg);
      background-repeat: no-repeat;
      background-size: 10%;
      background-position: 5px;

      &:invalid~.clear-icon {
        display: none;
      }

    }

    .clear-icon {
      background-color: transparent;
      display: inline-block;
      vertical-align: middle;
      outline: 0;
      cursor: pointer;
      position: relative;
      right: $margin-lg;

    }

  }

  .user {

    & {
      width: $margin-lg;
      height: $margin-lg;
      margin-left: auto;

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }

    i {
      font-size: $large;

      &:hover {
        color: $white;
        cursor: pointer;
      }
    }

  }

}

.content {

  & {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
  }

  &__middle {
    width: 50%;
    height: 100%;
  }

  &__right {
    position: relative;
    width: 50%;
    height: 100%;
  }


  @media (max-width: 768px) {

    &__middle {
      width: 100%;
      height: 25%;
    }

    &__right {
      position: relative;
      width: 100%;
      height: 75%;
    }

  }

}

.navigation {

  a {
    &:hover {
      color: $white;
    }
  }

  & {
    padding: $padding;
    background: $colorOverlay;
    color: $grey;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }

  &__list {

    & {
      display: flex;
      flex-flow: column wrap;
      margin-bottom: $margin;
    }

    &__header {

      &:after {
        font-family: "Ionicons";
        content: "\f123";
      }

    }

    .active {
      &:after {
        font-family: "Ionicons";
        content: "\f126";
      }
    }

    &__item {

      & {
        color: $grey;
        padding: $padding-xs 0;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }

      .playing {
        color: $green;
      }

      &:hover {
        color: $white;
        text-decoration: none;
        background-color: $transparent-light;
      }

      i {
        width: 25px;
        display: block;
      }

      &__selected {
        background-color: $transparent;

        &:hover {
          background-color: $transparent-light;
        }
      }

    }

  }

}

@media (max-width: 768px) {

  .navigation {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    &__list {
      margin-bottom: 0;
      //width: calc( 100% / 3 );
      width: 100%;
      text-align: center;

      &__item {

        width: 100%;
        text-align: center;

        i {
          display: none;
        }

        span {
          margin: 0 auto;
        }

        &:hover {
          border: none;
        }

      }

    }

  }
}


.queue {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: $lineJoin;
  //background-color: rgba( $colorOverlay, 0 );
  background-color: $black;
  pointer-events: none;
  z-index: -1;
  overflow-y: scroll;


  &.active {
    pointer-events: auto;
    //z-index: 1000;
  }

  // slide out
  &.visible {
    background-color: $black;
    z-index: 1;
  }
}


.current-track {

  background: $light-black;
  border-top: solid 1px $light-black;
  padding: $padding-xs $padding-xs;
  display: flex;
  align-items: center;
  height: $margin-xxl;


  .playing {

    &__song {
      font-size: $x-large;
      color: $green;
      display: flex;
      flex-flow: column wrap;

      a {
        color: $grey;

        &:hover {
          color: $white;
          cursor: pointer;
        }
      }

      .playing__song__name {
        color: $white;
      }
    }
  }

  &__player {

    & {
      width: 85%;

      margin: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    a {

      &:hover {
        text-decoration: none;
        cursor: pointer;
      }

      i {
        margin-right: $margin-xs;
      }

      span {
        font-size: $x-small;
        text-transform: uppercase;
      }

    }



    .volume {


      .volume_range {
        position: absolute;
        z-index: 1000;
        writing-mode: bt-lr; /* IE */
        -webkit-appearance: slider-vertical; /* Chromium */
        width: 30px;
        height: 175px;
        top: -175px;
        padding: 0 4px;
        background-color: $light-black;

        input {
          position: relative;
          bottom: 15px;
        }
      }

      i {
        width: 20px;
        color: $grey;
      }

      #song-volume {
        width: calc(80% - 20px);
        border: none;
        margin-left: $margin-sm;

        .noUi-base {
          background: $sand;
        }

        .noUi-origin {
          background: darken($grey, 30%);
        }

        .noUi-handle {
          background: $sand;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          box-shadow: none;
          border: none;
          left: 0;
          display: none;

          &:before,
          &:after {
            background: none;
          }
        }

        &:hover {

          .noUi-handle {
            display: block;
          }
        }
      }
    }

  }


  &__progress {

    & {
      width: 70%;
      padding: 0 $padding-lg;
      color: $grey;
      font-size: $x-small;

      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

    &__bar {
      display: block;
      width: 100%;
      margin: 0 $margin-xs 0 $margin-xs;
      height: $margin-xs;
      background-color: $transparent;

      #song-progress {
        width: 0;
        background-color: $green;
        height: $margin-xs;
      }

      .noUi-target {
        border: none;
        height: 4px;
      }

      .noUi-base {
        background: $green;
      }

      .noUi-origin {
        background: darken($grey, 30%);
      }

      .noUi-handle {
        background: $sand;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        box-shadow: none;
        border: none;
        left: 0;
        display: none;

        &:before,
        &:after {
          background: none;
        }
      }

    }

    &:hover {

      .noUi-handle {
        display: block;
      }

    }

  }

}


.artist {

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: $black;

  &__header {

    & {
      height: 140px;
      border-bottom: 1px solid $light-black;
      position: relative;
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/spotify_img_bground.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      z-index: 1;

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: 768px) {
        height: 45px;
        width: 100%;
        position: fixed;
        background-color: $black;
        box-shadow: $shadowOverlay;
      }
    }

    .artist__info {

      & {
        padding: $padding;
        z-index: 1;
        width: 80%;
        margin-top: $margin-xl * 1.3;

        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
      }

      .profile__img {

        margin-right: $margin;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }

      &__name {
        color: $white;
        font-size: $xx-large;
        font-weight: 100;
        padding: 0 0 $padding-sm 0;

        @media (max-width: 768px) {
          font-size: $x-large;
        }
      }

      &__actions {

        display: flex;
        flex-flow: row wrap;

        button {
          margin-right: $margin-sm;
          height: 27px;

          display: flex;
          flex-flow: row wrap;
          align-items: center;
          padding: 0 $padding;
          font-weight: 500;

          i {
            font-size: $large;
            margin-right: $margin-xs;
          }

        }

        .more {
          width: 27px;
          height: 27px;
          border-radius: 50%;
          padding: 0;
          text-align: center;

          i {
            margin: 0;
            padding-left: 6px;
          }
        }

      }

    }

    .artist__listeners {
      width: 20%;
      z-index: 1;
      padding: $padding;
      text-align: right;
      color: $grey;
      font-weight: 100;
      font-size: 16px;
      letter-spacing: 1px;

      &__label {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
      }
    }

    .artist__navigation {

      & {
        width: 100%;
        z-index: 1;
        background: rgba(24, 24, 24, .6);

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
      }

      ul {

        border: none;

        li {

          padding: 0 $padding;

          a {
            padding: $padding 0;
            color: $grey;
            border: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all 0.4s ease;
            border-bottom: 4px solid rgba(0, 0, 0, 0);

            &:hover {
              background: none;
              border: none;
              color: $white;
              transition: all 0.4s ease;
              border-bottom: 4px solid rgba(0, 0, 0, 0);
            }

          }

          &.active {

            a {
              color: $white;
              background: none;
              border: none;
              border-bottom: 4px solid $green;

              &:hover {
                border-bottom: 4px solid $green;
              }
            }

          }

        }

      }

      &__friends {

        & {
          padding: $padding;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: relative;
        }

        .tooltip {
          z-index: 1;
          position: absolute;
        }

      }

    }

  }

  &__content {

    height: 100%;

    & {
      padding: $padding;
    }

    h1 {
      color: $sand;
    }

    .overview {

      display: flex;
      flex-flow: row wrap;

      &__related {
        width: 30%;
      }

      @media (max-width: 1024px) {

        &__artist {
          width: 100%;
        }

        &__related {
          width: 100%;
          margin-top: $margin;
        }

      }

      @media (max-width: 768px) {

        &__artist {
          padding-right: 0;
        }

      }

    }

  }

}

@media (max-width: 768px) {

  .artist {
    height: 100%;
    overflow-y: auto;
  }

}



.tracks {

  & {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: $margin;
  }

  &__heading {

    & {
      color: $grey;
      height: 42px;

      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }

    &__number {
      margin-left: $margin-sm;
      font-style: italic;
      width: 24px;
      text-align: center;
    }

    &__title {
      margin-left: $margin-lg;
      width: 45%;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

  }

  .track {

    & {
      border-top: 1px solid $light-black;
      height: 45px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    .playing{
      color: $green;
    }

    &:hover {
      background: $light-black;
    }

    &__number {

      margin-left: $margin-sm;
      color: $grey;
      width: 24px;
      text-align: center;

    }

    &__added {

      margin-left: $margin-sm * 2;
      margin-right: $margin-sm * 2;
      color: $sand;

    }

    &__selected {

      background-color: $transparent;

      &:hover {
        background-color: $transparent-light;
        text-decoration: none;
      }
    }

    &__title {
      margin-left: $margin-sm * 2;
      overflow: hidden;
      width: calc(85% - ($margin-sm * 10));

      display: flex;
      flex-wrap: wrap;

      .title {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
      }

      .composer {
        color: $white;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

}


.overview {

  &__albums {

    width: 100%;
    margin-top: $margin-lg;

    @media (max-width: 768px) {
      margin-top: $margin-xs;
    }

    &__head {

      & {
        border-bottom: 1px solid $light-black;
        margin-bottom: $margin-sm;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
      }

      .view-type {
        color: $white;
        margin-bottom: 4px;

        .active {
          background: $light-black;
          padding: 8px;
          border-radius: 50%;


        }

        i {
          padding: 8px;
          border-radius: 50%;

          &:hover {
            padding: 8px;
            border-radius: 50%;
            background: lighten($light-black, 5%);
            cursor: pointer;
          }
        }

      }

    }

  }

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: lighten($light-black, 6%);
}

.section-title {

  text-transform: uppercase;
  color: $grey;
  letter-spacing: 1.25px;
  font-size: $x-small * 1.2;
  margin-bottom: $margin-sm;

}
